<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" 
        aria-label="Slide 1">  </button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/2152c9d0afe3352d.jpg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/ab9ccf8a8ad6a05f.jpg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/e7554fcdb3042316.jpg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/50ba00cc44d3fa70.jpg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/74d96b5351599369.jpg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/fb212593cc44b077.jpg?q=20" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/799c521a141bb4c7.png?q=20" class="d-block w-100" alt="...">
        </div> 
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>