<!-- <div class="container mt-5">
    <h2>Employee List</h2>
    <div class="input-group mb-3">
    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search By Employee Name">
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th (click)="sortData('id')">Employee Id</th>
                <th (click)="sortData('name')">Employee Name</th>
                <th (click)="sortData('age')">Employee Age</th>
                <th>Position</th>
                <th>Department</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (employee of employees | paginate: { itemsPerPage: 4, currentPage: page } | filter: searchText; track
            employee) {
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name |salutation : employee.gender}}</td>
                <td>{{employee.birthDate | agePipe}}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.department }}</td>
                <td>{{employee.gender}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addEmployee">Add New
                        Employee</button>
                    <button class="btn btn-info btn-sm" (click)="viewEmployeeDetails(employee)" data-bs-toggle="modal"
                        data-bs-target="#employeeModal">View</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id)">Delete</button>

                </td>
            </tr>
            }
        </tbody>
    </table>

    <pagination-controls (pageChange)="page = $event" class="pagination justify-content-end"></pagination-controls>


    <div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="employeeModalLabel">Employee Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>ID:</strong> {{ selectedEmployee?.id }}</p>
                    <p><strong>Employee Name:</strong> {{ selectedEmployee?.name }}</p>
                    <p><strong>Employee Age:</strong> {{ selectedEmployee?.age }}</p>
                    <p><strong>Position:</strong> {{ selectedEmployee?.position }}</p>
                    <p><strong>Department:</strong> {{ selectedEmployee?.department}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

  
    <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="addEmployeeModal" aria-hidden="true"
        #addEmployeeModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Add New Employee</h2>
                    <form (ngSubmit)="addEmployee()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="newEmployee.name" name="name"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="age" class="form-label">Age</label>
                            <input type="text" class="form-control" id="age" [(ngModel)]="newEmployee.birthDate"
                                name="age" required>
                        </div>
                        <div class="mb-3">
                            <label for="position" class="form-label">Position</label>
                            <input type="text" class="form-control" id="position" [(ngModel)]="newEmployee.position"
                                name="position" required>
                        </div>
                        <div class="mb-3">
                            <label for="department" class="form-label">Department</label>
                            <input type="text" class="form-control" id="department" [(ngModel)]="newEmployee.department"
                                name="department" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Employee</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>Close</button>
                </div>
            </div>
        </div>
    </div>

</div> -->


<h3 class="text-center">This is Employee CRUD Component</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-8 border">
            <app-employee-table (editEmpEvent)="editEmployee($event)" [employees]="employees"
                (deleteEmpEvent)="deleteEmployee($event)"></app-employee-table>
        </div>
        <div class="col-sm-4 border">
            @if(isEdit){
                <app-employee-edit [selectedEmployee]="selectedEmployee"></app-employee-edit>
            }@else{
                <app-employee-add (addEmpEvent)="addEmployee($event)"></app-employee-add>
            }
        </div>
    </div>
</div>