<div class="container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div style="border: 2px solid blue; padding: 10px; width: 1250px; margin: 10px;">

            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password">
            @if (passwordForm.get('password')?.errors?.['required']) {
            <div>Password is required.</div>
            }
            @if (passwordForm.get('password')?.errors?.['invalidPattern']) {
            <div>Password must contain at least one uppercase letter, one lowercase letter, one digit, and be at
                least 8
                characters long.</div>
            }
            @if (passwordForm.get('password')?.errors?.['weak']) {
            <div>Password is too weak. It must include at least 3 of the following: uppercase letters, lowercase
                letters,
                numbers, special characters.</div>
            }
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password">
            @if (passwordForm.get('confirmPassword')?.errors?.['mismatch']) {
            <div>Passwords do not match.</div>
            }

            <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
        </div>
    </form>

</div>
<pre>{{ passwordForm.value | json}}</pre>