<div class="container">
    <h2>Dynamic Form</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="submit()">
        <div formArrayName="employees">
            @for (employee of employeeArray.controls; track employee; let i = $index) {
            <div [formGroupName]="i" style="border: 2px solid blue; padding: 10px; width: 1250px; margin: 10px;">
                <label for="name">Employee Name: </label>
                <input id="name" formControlName="name" class="employee-control" />
                <label for="age">Age: </label>
                <input id="age" formControlName="age" type="number" class="employee-control" />
                <label for="department">Department: </label>
                <input id="department" formControlName="department" class="employee-control" />
                <label for="address">Address: </label>
                <input id="address" formControlName="address" class="employee-control" />
                <button type="button" (click)="removeEmployee(i)">Remove</button>
            </div>
            }
        </div>
        <div style="margin: 10px;">
            <button type="button" (click)="addEmployee()">Add Employee</button>
            <button type="submit">Submit</button>
        </div>
    </form>
    <pre>{{employeeForm.value | json}}</pre>
</div>